*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#00a651;
}

/* NAVBAR */

.navbar{
  position:absolute;

  top:20px;
  left:50%;
  transform:translateX(-50%);

  width:95%;
  height:90px;

  z-index:9999;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 40px;

  border-radius:25px;

  background:rgba(255,255,255,0.85);

  backdrop-filter:blur(20px);

  box-shadow:0 8px 30px rgba(0,0,0,0.15);
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
}

.logo h2{
  color:#222;
}

.logo-circle{
  width:50px;
  height:50px;

  border-radius:50%;

  background:#00a651;

  color:white;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  align-items:center;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:#222;
  font-size:20px;
  font-weight:600;
}

/* MAP SECTION */

.map-section{
  width:100%;

  display:flex;
  justify-content:center;

  margin-top:130px;
}

.map-container{
  position:relative;

  width:92%;
  height:78vh;

  border-radius:30px;

  overflow:hidden;

  box-shadow:0 10px 40px rgba(0,0,0,0.2);
}

.map{
  width:100%;
  height:100%;
}

/* FLOAT BUTTON */

.floating-btn{
  position:absolute;

  top:25px;
  right:25px;

  z-index:9999;

  width:60px;
  height:60px;

  border:none;

  border-radius:18px;

  background:#00a651;

  color:white;

  font-size:30px;

  cursor:pointer;

  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

/* FLOATING PANEL */

.floating-panel{
  position:absolute;

  top:100px;
  right:25px;

  width:400px;
  max-height:600px;

  overflow-y:auto;

  z-index:9999;

  border-radius:25px;

  padding:25px;

  background:rgba(255,255,255,0.92);

  backdrop-filter:blur(20px);

  box-shadow:0 8px 30px rgba(0,0,0,0.2);
}

.panel-header{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;
}

.panel-header h3{
  font-size:28px;
}

.panel-header button{
  border:none;

  width:45px;
  height:45px;

  border-radius:12px;

  background:#ff5a5a;

  color:white;

  font-size:22px;

  cursor:pointer;
}

.route-list{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.route-item{
  display:flex;
  align-items:center;
  gap:15px;

  padding:20px;

  border-radius:18px;

  background:#f2f2f2;
}

.route-dot{
  width:22px;
  height:22px;

  border-radius:50%;
}

.route-item p{
  font-size:20px;
  font-weight:600;
}

/* LEAFLET */

.leaflet-container{
  background:#dfe6e9;
}